extends layout
//- 内容
block content_here
	div(style="position: absolute;opacity: 0;")
		img(src="img/share-weixin.jpg")
	div.logo
		img(src="img/logo.png")
	div.resertpage(data-rel="resertpage",style="display:block;")
		div.head
			img(src="img/reg-top.jpg")
		div.nr
			form.form(name="register")
				div.input-group
					span.addon
						img.icon-user(src="img/icon-user.jpg")
					input(type="text",name="username",placeholder="姓名")
				div.radio-group
					input.man(type="radio",name="sex",value="先生",checked)
					input.woman(type="radio",name="sex",value="女士")
				div.input-group
					span.addon
						img.icon-phone(src="img/icon-phone.jpg")
					input(type="text",name="mobile",placeholder="电话")
				div.input-group
					span.addon
						img.icon-email(src="img/icon-email.jpg")
					input(type="text",name="email",placeholder="电子邮箱")
				div.brith-group.clearfix
					label 生日
					select.y(name="year")
						-for (var i=100;i>0;i--)
							-var checked = ""
							-if (100/2 == i)
								option(value="#{new Date().getFullYear()-i}",selected) #{new Date().getFullYear()-i}
							-else
								option(value="#{new Date().getFullYear()-i}") #{new Date().getFullYear()-i}
					select.m(name="month")
						-for (var i=1;i<=12;i++)
							option(value="#{i}") #{i}
					select.d(name="day")
						-for (var i=1;i<=31;i++)
							option(value="#{i}") #{i}
				div.select-group
					select(name="cartype")
						option(value="选择车型") 选择车型
						option(value="A3 Limousine") A3 Limousine
						option(value="A3 Sportback") A3 Sportback
				div.city-group.clearfix
					select#province(name="province",role="province",data-default="省",target="#city")
						option(value="选择省份") 选择省份
					select#city(name="city",role="city",data-default="市",callback="setDealer")
						option(value="选择省份") 选择省份
				div.select-group
					select(name="dealer")
						option(value="选择经销商") 选择经销商
				div.radio-l-group.passport.clearfix
					label 拥有护照: 
					input(type="radio",name="passport",value="是",checked)
					input(type="radio",name="passport",value="否")
				div.radio-l-group.hascar.clearfix
					label 拥有车辆:
					input(type="radio",name="hascar",value="无",checked)
					input(type="radio",name="hascar",value="有")
				div.select-group.clearfix
					//- label 计划购车:
					select(name="buytime")
						option(value="计划购车") 计划购车
					//- select
				div.copy
					h2
						div.check
							input(type="checkbox",name="private",checked)
						|  隐私条款
					p 我特此授权一汽-大众奥迪保留我的数据以便解答我的问题；我所提供的信息将按照数据保护规定进行保留。我也同意一汽-大众奥迪把我的数据用于其它营销、调查和统计目的，并允许一汽-大众奥迪根据我所提供的信息与我联系。
				div.btn-ctrl
					input.submit(type="button",name="submit",value="提交")
